<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobody</title>
    <meta http-equiv="refresh" content="2">
    <link rel="stylesheet" href="styles/index.css">

</head>
<body>
    <section>
        <fieldset>
            <form action="#">
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="Sobrenome">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Confirmar o Email">
                <input type="text" placeholder="Data de Nascimento">
                <input type="password" placeholder="Senha">
                <input type="password" placeholder="Confirmar Senha">
                
            </form>
        </fieldset>
        <div id="buttonRegister">
            <button type="submit">Cadastrar</button>
        </div>
    </section>
    <footer>

    </footer>



</body>
</html>