<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobody</title>
    <!-- <meta http-equiv="refresh" content="10"> -->
    <link rel="stylesheet" href="styles/index.css">

</head>
<body>
    <section>
        <fieldset>
            <form action="#">
                <div>
                    <input type="text" name="" required="">
                    <label id="labelUP">Name</label>
                </div>
                <div>
                    <input type="text" name="" required="">
                    <label id="labelUP">Surname</label>    
                </div>
                <div>
                    <input type="text" name="" required="">
                    <label id="labelUP">Email</label>    
                </div>
                <div>
                    <input type="text" name="" required="">
                    <label id="labelUP">Confirm Email</label>
                </div>
                <div>
                    <input type="date" name="birthDate" required="">
                    <label name="birthDate">Birth Date</label>
                </div>

                <div>
                    <input type="password" name="" required="">
                    <label id="labelUP">Password</label>    
                </div>
                <div>
                    <input type="password" name="" required="">
                    <label id="labelUP">Confirm Password</label>
                </div>
                
            </form>
        </fieldset>
        <div id="buttonRegister">
            <button type="submit">Cadastrar</button>
        </div>
    </section>
    <footer>

    </footer>



</body>
</html>